/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
	background-color: $background-header; //#193B49
	//background-image: url($background-header-image);
	//background-repeat:no-repeat;
	//background-position:center top;
	min-height: 62px;
	position:relative;
}

/* ## Title Area
--------------------------------------------- */

.title-area {
	float: left;
	padding: 10px 0;
	width: 360px;
	position:relative;
}

.header-full-width .title-area {
	width: 100%;
}

.site-title {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 400;
	line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
	color: $color-boton;
}

.header-image .site-title > a {
	background-image: url($logo), url($robot);
	background-position:right 15px, 15px center;
	background-size:75% auto,auto auto;
	background-repeat:no-repeat,no-repeat;
	float: left;
	min-height: 70px;
	width: 100%;
}

.cssie.header-image .site-title > a{
	background-image: url($logo);
	background-position:center center;
	background-size:75% auto;
	background-repeat:no-repeat;
}

.site-description {
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

.header-image .site-title {
	display: block;
	text-indent: -9999px;
}

.header-image .site-description{
	font-style:italic;
	font-size:1.2rem;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:1px;
	color:$logo-azul-claro;
	display:block;
	position:absolute;
	left:100px;
	top:58px;
}
