ins {
  text-decoration: none;
}

.archive-course {
  .course-products {
    display: none;
  }
}

body.single-course button.single_add_to_cart_button {
  color: white !important;
  background: #192d38 !important;
  padding: 20px;
  border-radius: 10px !important;
  margin-bottom: 0 !important;
}

body.single-course form.cart {
  text-align: center;
}

body.single-course del .amount {
  font-weight: normal;
  font-size: 16px;
}

.single-lesson div.sensei-message.info,
.woocommerce div.sensei-message.info {
  color: white;
  background: #4289b2 !important;
  border-radius: 10px;
}

.single-lesson div.sensei-message.info a,
.woocommerce div.sensei-message.info a {
  color: white !important;
}

body.woocommerce-page .product-name a,
body.woocommerce-cart .product-name a,
body.single-course.logged-out .lessons-list a {
  pointer-events: none;
  cursor: default;
  border: none;
}

.woocommerce-notices-wrapper .woocommerce-message {
  background-color: #00a32a;
  color: white;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.woocommerce-notices-wrapper .woocommerce-message a,
.woocommerce-notices-wrapper .woocommerce-message::before {
  color: white;
}

.woocommerce-notices-wrapper .woocommerce-message .button {
  background: #192d38 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 14px 20px;
  color: white !important;
}

body.woocommerce-account .site-inner,
body.woocommerce-cart .site-inner,
body.woocommerce-checkout .site-inner {
  max-width: 1200px;
  padding: 20px 40px;
}

body.woocommerce-cart button {
  border-radius: 8px !important;
  color: white !important;
  padding: 12px 20px !important;
  background: #192d38 !important;
}

.wc-proceed-to-checkout .checkout-button {
  border-radius: 10px !important;
  color: white !important;
  background: #192d38 !important;
}

#coupon_code {
  min-width: 200px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.shop_table.shop_table_responsive,
form.woocommerce-cart-form {
  background-color: #f2f2f2;
}

table.shop_table.cart th {
  background-color: #4289b2;
  color: white;
}

.woocommerce {
  .woocommerce-info {
    background: #4398c7;
    color: white;
    border: none;
    border-radius: 10px;
  }

  .woocommerce-info::before,
  .woocommerce-info a {
    color: white !important;
    border-bottom: none;
    text-decoration: underline;
  }

  .woocommerce-info a:hover {
    color: white;
    opacity: 0.8;
  }
}

.woocommerce-form-login-toggle + .woocommerce-form-login {
  background: #eee;
  border-radius: 12px !important;

  .woocommerce-button {
    color: white !important;
    font-weight: normal;
    border-radius: 8px !important;
    padding: 12px 16px;
    background: #192d38 !important;
  }
}

.woocommerce-form-coupon-toggle + .woocommerce-form-coupon {
  background: #eee;
  .button {
    color: white !important;
    font-weight: normal;
    border-radius: 8px !important;
    padding: 12px 16px;
    background: #192d38 !important;
  }
}

#customer_details {
  padding-top: 30px !important;
  border: 1px solid #ccc;
  padding: 20px;
}

.wc_payment_methods.payment_methods li {
  list-style: none;
}

.form-row.place-order {
  background-color: white;
}

.button.wc-backward,
.woocommerce-button.button,
.woocommerce-Button.button,
button#place_order {
  padding: 18px 22px;
  border-radius: 10px !important;
  color: white !important;
  background: #192d38 !important;
  font-weight: normal !important;
}

.woocommerce-thankyou-order-received {
  background-color: #00a32a;
  color: white;
  padding: 20px;
  border-radius: 12px;
  font-weight: bold;
}

form.lost_reset_password {
  background-color: #eee;
  padding: 20px;
}

.woocommerce-password-strength.bad {
  font-weight: normal;
  padding: 10px;
}

.woocommerce-checkout #customer_details {
  background-color: #eee;
  margin-bottom: 32px;
}

.course-progress-details summary {
  display: none !important;
}

form.edit-account button {
  margin-top: 20px !important;
}

.woocommerce-edit-account form.edit-account em {
  display: none;
}

.woocommerce-edit-account form.edit-account fieldset {
  margin-top: 25px;
}

.woocommerce-edit-account form.edit-account {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

.woocommerce-edit-account form.edit-account legend {
  font-weight: bold;
}

.woocommerce-account .woocommerce-order-sensei-courses {
  margin: 50px auto;
}

p.order-again {
  display: none;
}
