.mini-curso-videos {
	.site-inner{
		background-color:#E0E0E0;
		header .entry-title{
			text-align: center;
			background-color:white!important;
			padding: 20px 10px;
			border-radius:6px;
			margin-bottom: 20px;
		}
	}
	.breadcrumb{
		display: none;
	}

	.entry-content ul li{
		margin-left:25px;
	}
}


.seccion-suscribete{
	font-family:Helvetica;
	padding:10px;
	width:100%;
	background-color:white;
	text-align:center;
	margin-bottom:10px;
	background-color:#FFF3B2;
}

.temario{
	padding:10px 10px;
	font-family:Helvetica;
	font-size:1.8rem;
	float:left;
	width:39%;
	background-color:white;
	border-radius:6px;

	.seccion{
		font-weight: bold;
		margin-top:24px;
		clear:both;
		float:none;
	}

	a{
		font-size: 1.5rem;
		display: block;
		border-bottom:none!important;
		margin-left:15px;
		margin-top:6px;
		margin-bottom: 6px;
		span{
			font-size: 1.2rem;
			font-weight: normal!important;
		}
	}

}

.lock {
	.temario a{
		color:black!important;
		cursor:auto;
	}

	.entry-title{
		margin-bottom: 10px!important;
	}
}

.video-actual{
	font-family:Helvetica;
	float:right;
	width:60%;

	.seccion{
		text-transform: uppercase;
		text-align: center;
		font-size: 1.6rem;
		clear:both;
		float:none;
		
		&:first-child{
			font-weight: bold;
		}
	}

	p{
		margin-bottom: 4px;
		margin-top:5px;
	}
	
	#prev,#next{
		font-size: 1.4rem;
		border-bottom:none;
		padding:5px;
		margin-bottom:20px;
	}
	#prev{
		float:left;
	}
	#next{
		float:right;
	}
}

@media (max-width:980px){
	.temario, .video-actual{
		width:100%;
		float:none;
	}
	.mini-curso-videos .entry-title{
		font-size: 2.4rem!important;
	}

}